{% extends 'base.html' %} {% load custom %} {% block content %}

<section class="section has-background-info has-text-warning">
  <p class="title has-text-warning">Welcome to the Fair Share election Tracker (FaST)</p>
  <p>Select a race below to see detailed data</p>
</section>

<section class="section">
  <div id="tabs-with-content">
    <div class="tabs is-boxed">
      <ul>
        {% for race in races %}
        <li>
          <a href="?idx={{ forloop.counter }}"> {{ race.officeName }} {{ race.seatName }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {% for race in races %}
      <section class="tab-content">
        <p class="title">{{ race.officeName }}</p>
        <div class="columns">
          <div class="column"><b>Race type: </b>{{ race.raceType }}</div>
          <div class="column"><b>Party: </b>{{ race.party }}</div>
          <div class="column"><b>Called?: </b>{{ race.raceCallStatus|title }}</div>
          <div class="column"><b>Units reporting: </b>{{ race.reportingUnits|length|add:"-1" }}</div>
          <div class="column"><b>ID: </b>{{ race.raceID }}</div>
          <div class="column"><b>Updating every: </b>10s</div>
        </div>
        <p class="subtitle">Cities reporting:</p>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Last updated</th>
              <th>Precincts reporting</th>
              {% if race.officeID == "I" %}
              <th>Yes</th>
              <th>No</th>
              {% else %} {% for candidate in race.reportingUnits.0.candidates %}
              <th>{{ candidate.first }} {{ candidate.last }}</th>
              {% endfor %} {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for ru in race.reportingUnits %} {% if forloop.first %}
            <tr class="has-background-warning">
              <th>{{ ru.reportingunitID }}</th>
              <th>State total</th>
              <th>{{ ru.lastUpdated|toDate }}</th>
              <th>
                <div class="progress has-background-light" data-label="{{ ru.precinctsReportingPct }}%: {{ ru.precinctsReporting }}/{{ ru.precinctsTotal }}">
                  <span class="value has-background-info" style="width: {{ ru.precinctsReportingPct }}%"></span>
                </div>
              </th>
              {% if race.officeID == "I" %} {% if ru.candidates.0.party == "Yes" %}
              <th>{{ ru.candidates.0.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.0.voteCount }}</th>
              <th>{{ ru.candidates.1.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.1.voteCount }}</th>
              {% else %}
              <th>{{ ru.candidates.1.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.1.voteCount }}</th>
              <th>{{ ru.candidates.0.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.0.voteCount }}</th>
              {% endif %} {% else %} {% for candidate in ru.candidates %}
              <th>{{ candidate.voteCount|candidateVotePercent:ru.candidates }}%: {{ candidate.voteCount }}</th>
              {% endfor %} {% endif %}
            </tr>
            {% else %}
            <tr>
              <th>{{ ru.reportingunitID }}</th>
              <td>{{ ru.reportingunitName }}</td>
              <td>{{ ru.lastUpdated|toDate }}</td>
              <td>
                <div class="progress has-background-light" data-label="{{ ru.precinctsReportingPct }}%: {{ ru.precinctsReporting }}/{{ ru.precinctsTotal }}">
                  <span class="value has-background-info" style="width: {{ ru.precinctsReportingPct }}%"></span>
                </div>
              </td>
              {% if race.officeID == "I" %} {% if ru.candidates.0.party == "Yes" %}
              <td>{{ ru.candidates.0.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.0.voteCount }}</td>
              <td>{{ ru.candidates.1.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.1.voteCount }}</td>
              {% else %}
              <td>{{ ru.candidates.1.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.1.voteCount }}</td>
              <td>{{ ru.candidates.0.voteCount|candidateVotePercent:ru.candidates }}%: {{ ru.candidates.0.voteCount }}</td>
              {% endif %} {% else %} {% for candidate in ru.candidates %}
              <td>{{ candidate.voteCount|candidateVotePercent:ru.candidates }}%: {{ candidate.voteCount }}</td>
              {% endfor %} {% endif %}
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </section>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .progress {
    height: 1.5em;
    width: 100%;
    position: relative;
  }
  .progress-bar {
    float: left;
  }
  .progress:before {
    content: attr(data-label);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
  }
  .progress .value {
    display: inline-block;
    height: 100%;
  }

  #tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
  }

  #tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
  }

  #tabs-with-content .tab-content.is-active {
    display: block;
  }
</style>

<script>
  let tabsWithContent = (function () {
    let tabs = document.querySelectorAll(".tabs li");
    let tabsContent = document.querySelectorAll(".tab-content");

    let deactvateAllTabs = function () {
      tabs.forEach(function (tab) {
        tab.classList.remove("is-active");
      });
    };

    let hideTabsContent = function () {
      tabsContent.forEach(function (tabContent) {
        tabContent.classList.remove("is-active");
      });
    };

    let activateTabsContent = function (tab) {
      tabsContent[getIndex(tab)].classList.add("is-active");
    };

    let getIndex = function (el) {
      return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
      tab.addEventListener("click", function () {
        deactvateAllTabs();
        hideTabsContent();
        tab.classList.add("is-active");
        activateTabsContent(tab);
      });
    });

    const urlParams = new URLSearchParams(window.location.search);

    if (urlParams.has("idx")) {
      tabs[urlParams.get("idx") - 1].click();
    } else {
      tabs[0].click();
    }
  })();
</script>

<script>
  //On document.ready, check if key exists in localStorage
  if (localStorage.getItem("scroll_position") != null) {
    var scrollPosition = localStorage.getItem("scroll_position");
    //Scroll to position
    window.scrollTo(0, scrollPosition);
  }

  setTimeout(function () {
    //Set scroll position
    localStorage.setItem("scroll_position", document.documentElement.scrollTop);
    window.location.reload(1);
  }, 20000);
</script>

{% endblock %}
